@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Helvetica', monospace;
}

.font-helvetica {
    font-family: 'Helvetica', monospace;
    font-weight: 400;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade {
    animation: fade 0.5s ease-in-out forwards;
}

@font-face {
    font-family: 'FE Engschrift';
    src: url('./assets/fonts/fe-engschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}